button, p, #sound_vol {
  width: 160px;
}

#sound_vol {
  margin-top: 4px;
}

#shape label {
  width: 80px;
}

#hz label {
  width: 40px;
}

#bits label {
  width: 80px;
}

#wav {
  font-weight: bold;
}


div {
  display: inline-block;
}

h1 {
  padding-right: 1em;
  padding-top: 0;
  margin-top: 0;
}

body {
  padding-left: 2em;
}

.slider {
  width: 120px;
}

.ui-widget-content .ui-state-default {
  border-color: #F58400;
}

* {
  font: 10pt Helvetica;
}

h1 { font-size: 24pt; }
h2 { font-size: 12pt; }

button, input, label {
  font-size: 10px;
}

div {
  vertical-align: top;
}

th {
  padding-left: 1em;
  text-align: left;
}

hr {
  font-size: 3px;
}

#demo-frame > div.demo { padding: 10px !important; }

#stats td {
  text-align: right;
}

#stats {
  width: 80%;
}

a {
  text-decoration: none;
  color: #0000ff;
}

#uncopy {
  margin-top: -4px;
  border: solid 1px #0000ff;
  border-radius: 10px;
  width: 8px;
  height: 8px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 6px;
  font-size: 10px;
}

#generators button {
  margin-bottom: 2px;
}
